#MySignature{　　
 border:solid 1px #E5E5E5;
 padding:10px;
 background:#E5EEF7 url(https://images.cnblogs.com/cnblogs_com/chiweiming/1193289/t_D9DB9CDC-AF80-49E4-8986-0A4434B665CB.JPG) no-repeat scroll 0px 5%;
 padding-left:220px;}

#MySignature div{
  line-height: 20px;
}